In [3]:
# Step 1: Import required libraries
import requests
import pandas as pd

# Step 2: Define the CoinGecko API endpoint
url = "https://api.coingecko.com/api/v3/coins/markets"
params = {
    'vs_currency': 'usd',
    'order': 'market_cap_desc',
    'per_page': 1000,
    'page': 1,
    'sparkline': 'false'
}

# Step 3: Make the GET request
response = requests.get(url, params=params)

# Step 4: Check the response status
if response.status_code == 200:
    crypto_data = response.json()
    print("✅ Crypto data fetched successfully!")
else:
    print(f"❌ Failed to fetch data. Status code: {response.status_code}")

# Step 5: Convert to pandas DataFrame
df = pd.DataFrame(crypto_data)

# Step 6: Display relevant columns
df_filtered = df[['id', 'symbol', 'name', 'current_price', 'market_cap', 'price_change_percentage_24h']]
df_filtered.columns = ['ID', 'Symbol', 'Name', 'Price (USD)', 'Market Cap', '24h % Change']
display(df_filtered)

✅ Crypto data fetched successfully!

,ID,Symbol,Name,Price (USD),Market Cap,24h % Change
0,bitcoin,btc,Bitcoin,96356.000000,1913687368603,-0.06048
1,ethereum,eth,Ethereum,1828.080000,220713640816,0.57296
2,tether,usdt,Tether,1.000000,149218833259,0.00194
3,ripple,xrp,XRP,2.200000,128932908372,0.33139
4,binancecoin,bnb,BNB,598.020000,87240583217,0.36746
...,...,...,...,...,...,...
95,paypal-usd,pyusd,PayPal USD,0.999655,941331644,-0.00911
96,the-graph,grt,The Graph,0.096684,922685685,-2.85711
97,binance-bridged-usdc-bnb-smart-chain,usdc,Binance Bridged USDC (BNB Smart Chain),1.000000,899136038,0.01445
98,wbnb,wbnb,Wrapped BNB,598.030000,874311084,0.35278
99,rocket-pool-eth,reth,Rocket Pool ETH,2073.880000,856776338,0.47846

In [4]:
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,96356.00,1913687368603,1,1913687368603,2.152772e+10,97822.00,...,1.985929e+07,2.100000e+07,108786.00,-11.45953,2025-01-20T09:11:54.494Z,67.810000,1.419449e+05,2013-07-06T00:00:00.000Z,None,2025-05-03T07:56:24.114Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,1828.08,220713640816,2,220713640816,1.013967e+10,1865.38,...,1.207327e+08,NaN,4878.26,-62.53354,2021-11-10T14:24:19.604Z,0.432979,4.220249e+05,2015-10-20T00:00:00.000Z,"{'times': 24.361659758611427, 'currency': 'btc...",2025-05-03T07:56:24.917Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,1.00,149218833259,3,149218833259,1.700172e+10,1.00,...,1.491842e+11,NaN,1.32,-24.40209,2018-07-24T00:00:00.000Z,0.572521,7.470668e+01,2015-03-02T00:00:00.000Z,None,2025-05-03T07:56:24.550Z
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,2.20,128932908372,4,220354325387,1.571738e+09,2.24,...,9.998618e+10,1.000000e+11,3.40,-35.17521,2018-01-07T00:00:00.000Z,0.002686,8.191298e+04,2014-05-22T00:00:00.000Z,None,2025-05-03T07:56:23.557Z
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,598.02,87240583217,5,87240583217,5.146046e+08,601.74,...,1.458876e+08,2.000000e+08,788.84,-24.17431,2024-12-04T10:35:25.220Z,0.039818,1.502112e+06,2017-10-19T00:00:00.000Z,None,2025-05-03T07:56:36.897Z

In [5]:
df.shape

(100, 26)

In [6]:
# Step 1: Import libraries
import requests
import pandas as pd

# Step 2: Set the API URL and parameters (e.g., Kathmandu, Nepal)
url = "https://api.open-meteo.com/v1/forecast"
params = {
    "latitude": 27.7172,
    "longitude": 85.3240,
    "hourly": "temperature_2m,relative_humidity_2m",
    "timezone": "auto"
}

# Step 3: Make the request
response = requests.get(url, params=params)

# Step 4: Process response
if response.status_code == 200:
    weather_data = response.json()
    print("✅ Weather data fetched successfully!")
else:
    print("❌ Failed to fetch weather data.")

# Step 5: Convert hourly data to DataFrame
df_weather = pd.DataFrame({
    "time": weather_data['hourly']['time'],
    "temperature": weather_data['hourly']['temperature_2m'],
    "humidity": weather_data['hourly']['relative_humidity_2m']
})

df_weather['time'] = pd.to_datetime(df_weather['time'])
display(df_weather.head())

✅ Weather data fetched successfully!

                 time  temperature  humidity
0 2025-05-03 00:00:00         15.8        87
1 2025-05-03 01:00:00         15.4        88
2 2025-05-03 02:00:00         15.0        89
3 2025-05-03 03:00:00         14.6        88
4 2025-05-03 04:00:00         14.1        88

In [1]:
# Step 1: Import libraries
import requests
import pandas as pd

# Step 2: Define the API URL and API key
api_key = "pub_84492ed15a72d8050cc04d9024663c1343133"  # Replace with your API key
url = f"https://newsdata.io/api/1/news?apikey={api_key}&country=np&language=en&category=technology"

# Step 3: Make the request
response = requests.get(url)

# Step 4: Check response and process
if response.status_code == 200:
    news_json = response.json()
    print("✅ News data fetched successfully!")
else:
    print("❌ Failed to fetch news data.")

# Step 5: Convert articles to DataFrame
news_articles = news_json.get("results", [])
df_news = pd.DataFrame(news_articles)[['title', 'link', 'pubDate', 'source_id']]
display(df_news.head())

✅ News data fetched successfully!

,title,link,pubDate,source_id
0,From Exchange to Ecosystem Builder: MEXC Celeb...,https://www.prnewswire.com/apac/news-releases/...,2025-05-02 10:00:00,prnewswire_apac
1,Priority Pass Excellence Awards 2025 Winners R...,https://www.prnewswire.com/apac/news-releases/...,2025-05-02 07:55:00,prnewswire_apac
2,OSL & Ant Digital Technologies Forge Landmark ...,https://www.prnewswire.com/apac/news-releases/...,2025-05-02 03:54:00,prnewswire_apac
3,Australians more anxious ahead of 2025 election,https://www.prnewswire.com/apac/news-releases/...,2025-05-02 02:43:00,prnewswire_apac
4,MARRIOTT INTERNATIONAL AND CG HOSPITALITY ANNO...,https://www.prnewswire.com/apac/news-releases/...,2025-05-02 02:00:00,prnewswire_apac