# Importing the libraries

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('insurance_data.csv')

# 1. How big is the data?

In [5]:
df.shape

(1340, 11)

# 2.How data looks like?

In [6]:
df.sample(5)

,hoa,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
1095,1095,1096,38.0,female,25.3,104,Yes,1,Yes,northeast,21771.34
1201,1201,1202,45.0,male,33.5,81,No,0,Yes,northeast,34617.84
198,198,199,25.0,male,23.0,81,Yes,0,No,northeast,1704.57
969,969,970,31.0,male,39.2,91,No,1,No,southeast,14418.28
599,599,600,34.0,male,39.4,94,Yes,1,No,northeast,8342.91

# 3. What is the data type of cols?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hoa            1340 non-null   int64
 1   PatientID      1340 non-null   int64
 2   age            1335 non-null   float64
 3   gender         1340 non-null   object
 4   bmi            1340 non-null   float64
 5   bloodpressure  1340 non-null   int64
 6   diabetic       1340 non-null   object
 7   children       1340 non-null   int64
 8   smoker         1340 non-null   object
 9   region         1337 non-null   object
 10  claim          1340 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 115.3+ KB

In [8]:
df.isna().sum()

hoa              0
PatientID        0
age              5
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           3
claim            0
dtype: int64

# 4 . How does the data looks mathematically

In [9]:
df.describe()

,hoa,PatientID,age,bmi,bloodpressure,children,claim
count,1340.000000,1340.000000,1335.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,669.500000,670.500000,38.078652,30.668955,94.157463,1.093284,13252.745642
std,386.968991,386.968991,11.102924,6.106735,11.434712,1.205334,12109.609288
min,0.000000,1.000000,18.000000,16.000000,80.000000,0.000000,1121.870000
25%,334.750000,335.750000,29.000000,26.275000,86.000000,0.000000,4719.685000
50%,669.500000,670.500000,38.000000,30.400000,92.000000,1.000000,9369.615000
75%,1004.250000,1005.250000,47.000000,34.700000,99.000000,2.000000,16604.305000
max,1339.000000,1340.000000,60.000000,53.100000,140.000000,5.000000,63770.430000

# 5. Are there duplicates value?

In [10]:
df.duplicated().sum()

np.int64(0)

# 6. what's the coorelation between cols?

In [11]:
num_col = df.select_dtypes(include=['float64','int64'])
num_col.corr()

,hoa,PatientID,age,bmi,bloodpressure,children,claim
hoa,1.000000,1.000000,-0.007492,0.115129,0.450602,0.128104,0.879268
PatientID,1.000000,1.000000,-0.007492,0.115129,0.450602,0.128104,0.879268
age,-0.007492,-0.007492,1.000000,-0.041955,-0.060325,-0.025547,-0.027909
bmi,0.115129,0.115129,-0.041955,1.000000,0.143544,0.012092,0.197401
bloodpressure,0.450602,0.450602,-0.060325,0.143544,1.000000,-0.031682,0.531341
children,0.128104,0.128104,-0.025547,0.012092,-0.031682,1.000000,0.069233
claim,0.879268,0.879268,-0.027909,0.197401,0.531341,0.069233,1.000000

In [12]:
df['claim'].dtype

dtype('float64')

In [13]:
num_col.corr().head()

,hoa,PatientID,age,bmi,bloodpressure,children,claim
hoa,1.000000,1.000000,-0.007492,0.115129,0.450602,0.128104,0.879268
PatientID,1.000000,1.000000,-0.007492,0.115129,0.450602,0.128104,0.879268
age,-0.007492,-0.007492,1.000000,-0.041955,-0.060325,-0.025547,-0.027909
bmi,0.115129,0.115129,-0.041955,1.000000,0.143544,0.012092,0.197401
bloodpressure,0.450602,0.450602,-0.060325,0.143544,1.000000,-0.031682,0.531341

In [14]:
num_col.corr()[['age','bloodpressure','claim']]

                    age  bloodpressure     claim
hoa           -0.007492       0.450602  0.879268
PatientID     -0.007492       0.450602  0.879268
age            1.000000      -0.060325 -0.027909
bmi           -0.041955       0.143544  0.197401
bloodpressure -0.060325       1.000000  0.531341
children      -0.025547      -0.031682  0.069233
claim         -0.027909       0.531341  1.000000

In [15]:
num_col.corr()['claim'].sort_values(ascending=False)

claim            1.000000
PatientID        0.879268
hoa              0.879268
bloodpressure    0.531341
bmi              0.197401
children         0.069233
age             -0.027909
Name: claim, dtype: float64

claim
1121.87     1
1131.51     1
1135.94     1
1136.40     1
1137.01     1
           ..
55135.40    1
58571.07    1
60021.40    1
62592.87    1
63770.43    1
Name: count, Length: 1337, dtype: int64